@import "tailwindcss";


.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-500 rounded-full;
  }
  

.message-box{
    scroll-behavior: smooth;
  }
.message-box::-webkit-scrollbar{
    display: none;
}

.code-editor-area::-webkit-scrollbar {
    width: 8px;
}

.code-editor-area::-webkit-scrollbar-track {
    background: #18181B; /* Dark background */
}

.code-editor-area::-webkit-scrollbar-thumb {
    background: #27272A; /* Dark grey thumb */
    border-radius: 10px;
}

.code-editor-area::-webkit-scrollbar-thumb:hover {
    background: #09090B; /* Lighter grey on hover */
}

.custom-code {
  background: #0f0f11;         /* darker than zinc-900 */
  color: #e5e5e5;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  display: block;
  overflow-x: auto;
  font-family: "JetBrains Mono", monospace;
}

/* hljs token overrides */
.custom-code .hljs-keyword { color: #ff7b72; }
.custom-code .hljs-string { color: #a5d6ff; }
.custom-code .hljs-comment { color: #6e7681; font-style: italic; }
.custom-code .hljs-number { color: #f78c6c; }
.custom-code .hljs-title { color: #ffd700; }
